.allTable{
    border: 1px solid black;
    width: max-content;
    border-collapse: collapse;
    padding: 20px;
    margin: 20px;
    margin-left: 0;
}

.buttons {
    display: flex;
    margin: auto 10px;
}

.table {
    width: 100%;
}

.th, .td {
    border: 1px solid grey;
    margin: 10px;
    height: auto;
 }

.td {
    text-align: center;
    padding: 5px 10px;
} 

.idButton {
    height: 110%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.button.active{
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
}